body{
    background-color: rgba(0, 0, 0, 0.498);
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
}


.publication{
    margin-bottom: 50px;

}
.heading{
    /* outline: 2px solid black; */
    margin: auto;
	display: flex;
    flex-direction: row;
	/* justify-content: center; */
	height: 100%;
	background-color: white;
	/* border-radius: 3px; */
    width: 40%;
	position: center;
}

.picture {
    /* outline: 2px solid black; */
    margin: 0px 50px 0px 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    background: white;
    width: 40%;
    height: 1000px;
    position: relative;
    margin: auto;
  }
  
.heading i {
    font-size: 40px;
    /* color: hotpink; */
    /* font-size: large; */
    padding-top: 17px;
    vertical-align: middle;
    margin-left: 15px;
    /* margin-right: 5px; */

    }

.title{
    margin-right: auto;
}
/* i .fa-ellipsis-vertical{
    font-size: 40px;
    padding-top: 10px;
    vertical-align: middle;
    margin-left: auto;

} */
  img {
    display: block;
    margin: 0 auto;
    width:100%;
    height:100%;
    object-fit:cover;
  }
  

.dots#dots{
    margin-left: auto;
    margin-right: 20px;

}

.heading div{
    /* outline: 2px solid black; */
    margin: 5px;
    align-items: center;
}


.material-symbols-outlined{
    position: relative;
    top: 1px; 
}


.bottom{
    /* outline: 2px solid black; */
    margin-left:auto;
    margin-right:auto;
	display: flex;
    flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color: white;
	border-radius: 3px;
    width: 40%;
	position: center;
    
}

.icons{
    /* outline:2px solid black; */
    display: flex;
    flex-direction: row;
    padding: 15px 15px 5px 15px;
    justify-content: space-between;
}



.people{
    /* outline:2px solid black; */
    padding: 20px;
    padding: 0px 20px 10px 20px;
}

.description{
    /* outline:2px solid black; */
    padding: 10px;
}

.fa-bookmark{
    margin-left: auto;
}

.fa-heart{
    margin-left: 5px;
}

.icons i{
    font-size: 40px;
    margin-right:5px;
}